* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }
   
  .game-starter{
  
    text-transform: capitalize;
      position: absolute;
      top: 20%;
      left: 25%;
      background: white;
      width: 60%;
      height: 298px;
      color:salmon;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 21px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bold;
      visibility:visible;
  } 
  #counter{
    font-size: 3rem;
    color: teal;
  }
  .opacity{
    opacity: 0.2;
  }
  .city-outer {
    width: 100%;
    height: 100vh;
  
    background: linear-gradient(180deg, rgb(16, 17, 29), rgb(0, 16, 58));
    position: relative;
    overflow-x: hidden;
  }
  .city-outer::before {
    width: 80px;
    height: 80px;
    border-radius: 70%;
    position: absolute;
    left: 0px;
    right: 0px;
    content: "";
    margin: 0 auto;
    top: 7em;
  background: rgb(226, 213, 163);
   
  }
  .daytoNight{
    background: linear-gradient(
      -360deg,
      rgba(143, 255, 245),
      rgba(247, 130, 20, 0.795)
    );
  }
  .cloud {    background: url(images/newcloud2.png);
    height: 148px;
    background-repeat: repeat-x;
    margin-top: 8em;
    background-size: 158px;
    width: 1000%;
  }
  .cloudanimation{
  
    animation:  animationcloud 40s linear infinite;
  }
  @keyframes animationcloud{
  100%{
    transform: translateX(-2500px);
  }
    
  }  
  
.city-inner{
  background: url(images/myroad.png);
  background-size: 298px;
  position: absolute;
  bottom: 0px;
  width: 800%;
  height: 192px;
  background-repeat: repeat;
   
  }
  .roadAnimation{
    animation: road 10s linear infinite;
  }
  @keyframes road{
    100%{
      transform: translateX(-2500px);
    }
  }
  .car {
    position: absolute;
    bottom: 2%;
    left: 15%;
    visibility: hidden;
    width: 70px;
    height: 140px;
  }
  .cat {
    position: absolute;
    bottom: 1%;
    right: 5%;
    visibility: hidden;
    height: 100px;
    width: 100px;
  }
  .animationcat {
    animation: catAnimation 5s linear infinite;
  }
  @keyframes catAnimation {
    0% {
      left: 100vw;
    }
    100% {
      left: -10vw;
    }
  }
  .animationCar {
    animation: car 0.9s linear infinite;
  }
  
  @keyframes car {
    0% {
      bottom: 0px;
    }
    30% {
      bottom: 150px;
    }
    50% {
      bottom: 450px;
    } 
    80%{
      bottom: 300px;
    }
    100%{
      bottom: 0px;
    }
  }
  .game-over {    width: 75%;
    height: 250px;
    left: 12%;
    top: 34%;
    text-align: center;
    margin: 0 auto;
    background-color: #f3faf4;
    position: absolute;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    font-weight: bold;
    border-radius: 3px 3px;
    box-shadow: 4px 6px 5px black;
  }
  
  .points{    position: relative;
    margin: 8px;
    text-shadow: 5px 2px black;
    font-size: 3rem;
    color: #f6b93b;
    height: 80px;
    font-family: "Sofia", sans-serif;
  }
  .game-over h1 {     position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 94%;
    height: 208px;
    top: -15px;
    left: 6%;
    font-size: 3rem;
    text-shadow: 2px 3px 4px black;
    color: green;
   
  }
  #imoji{
    position: relative;
    top: -55%;
    left: -2%;
    font-size: 64px;
    /* height: 100px; */
    color: red;
  }
  #score{
    text-align: center;
  }
  #score h1{    margin: 7px;
    padding: 4px;
    font-size: 1.2rem;
    color: #f6b93b;
    border: 2px solid white;
    background: blue;
    width: 33%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }